.App {
  max-width: 860px;
  margin: 40px auto;
}
button {
  background: none;
  border: 2px solid #fff;
  padding: 6px 12px;
  border-radius: 4px;
  color: #9b1515;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}
button:hover {
  background: #830456;
  color: #fff;
}
.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px
}

/* add flipping style and card */
.card {
  width: 150px;
  height: 200px;
  perspective: 1000px;
  display: inline-block;
  margin: 20px;
  cursor: pointer;
}

.card .card-front,
.card .card-back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;

}

.card .card-back {
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFFF00; 
  color: #333;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);

}